
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #d3d3d3;
}

/*header*/

header {
    margin: auto;
}
#test {
  display: flex;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
}
#test > div {
  flex: 0 0 33%;                /* width of first flex item in main container */
  height: 120px;
}
.profile-details {
  flex: 0 0 66%;                /* width of second flex item in main container */
  display: flex;                /* nested flex container to arrange smaller items */
  flex-wrap: wrap;              /* make container multi-line */
}
.profile-details > .item {
  flex: 0 0 100%;                /* width of smaller items; two max per row */
}

.profile-img {
   justify-content: center;
   float: right;
   border-radius: 50%;
   margin-right: 10px;
   height: 100px;
   width: 100px;
   margin-top: 20%;
}

.profile-image {
    max-width: 300px;
    justify-content: center;
}

p {
    margin-top: 0;
}

h1 {
    margin-bottom: 0;
    display: inline-block;
}

button{
    background-color: #d3d3d3;
}



/*Pictures*/
.grid {
  display: flex;                     
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: space-between;
 
}
.cell {
  width: 32%;
  padding-bottom: 32%; /* Same as width, sets height (this is how the item is "made up in this wireframe") */
  margin-bottom: 2%; /* (100-32*3)/2 */
  position: relative;
  background-color: gray;
  cursor: pointer;
}

.cell-info {
    display: none;
}

.cell:hover .cell-info,
.cell:focus .cell-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.cell li {
    list-style: none;
    color: white;
}

/*media queries*/
@media only screen and (min-width: 450px) {
  .profile-img {
    margin-top: 5%;
  }
}

@media only screen and (min-width: 800px) {
  #test {
    width: 80%;
  }
  .grid {
    margin-left: 15%;
    margin-right: 15%;
  }
}
